[Unit]
Description=Start Wireguard container
After=network.target

[Service]
Type=simple
ExecStart=/opt/wireguard/start.sh

[Install]
WantedBy=multi-user.target
